#Dont track

#Fibonacci

Laboratorio1/Ejemplo2 - FibonacciPosposicion/build/*
Laboratorio1/Ejemplo2 - FibonacciPosposicion/dist/*
Laboratorio1/Ejemplo2 - FibonacciPosposicion/nbproject/*
Laboratorio1/Ejemplo2 - FibonacciPosposicion/.dep.inc
Laboratorio1/Ejemplo2 - FibonacciPosposicion/Makefile

Laboratorio1/Ejemplo2 - FibonacciPorCola/build/*
Laboratorio1/Ejemplo2 - FibonacciPorCola/dist/*
Laboratorio1/Ejemplo2 - FibonacciPorCola/nbproject/*
Laboratorio1/Ejemplo2 - FibonacciPorCola/.dep.inc
Laboratorio1/Ejemplo2 - FibonacciPorCola/Makefile

#Array

Laboratorio1/Ejemplo3 - SumaArrayPorCola/build/*
Laboratorio1/Ejemplo3 - SumaArrayPorCola/dist/*
Laboratorio1/Ejemplo3 - SumaArrayPorCola/nbproject/*
Laboratorio1/Ejemplo3 - SumaArrayPorCola/.dep.inc
Laboratorio1/Ejemplo3 - SumaArrayPorCola/Makefile

Laboratorio1/Ejemplo3 - SumaArrayPosposicion/build/*
Laboratorio1/Ejemplo3 - SumaArrayPosposicion/dist/*
Laboratorio1/Ejemplo3 - SumaArrayPosposicion/nbproject/*
Laboratorio1/Ejemplo3 - SumaArrayPosposicion/.dep.inc
Laboratorio1/Ejemplo3 - SumaArrayPosposicion/Makefile

#Potencias

Laboratorio1/Ejercicio2/build/*
Laboratorio1/Ejercicio2/dist/*
Laboratorio1/Ejercicio2/nbproject/*
Laboratorio1/Ejercicio2/.dep.inc
Laboratorio1/Ejercicio2/Makefile

#Menor

Laboratorio1/Ejercicio3/build/*
Laboratorio1/Ejercicio3/dist/*
Laboratorio1/Ejercicio3/nbproject/*
Laboratorio1/Ejercicio3/.dep.inc
Laboratorio1/Ejercicio3/Makefile
Laboratorio1/Ejercicio3/*.exe.*

#Matriz

Laboratorio1/Ejercicio1/build/*
Laboratorio1/Ejercicio1/dist/*
Laboratorio1/Ejercicio1/nbproject/*
Laboratorio1/Ejercicio1/.dep.inc
Laboratorio1/Ejercicio1/Makefile
Laboratorio1/Ejercicio1/*.exe.*

#Laboratorio2

Laboratorio2/Ejemplo1 - ListasDoblementeEnlazadas/build/*
Laboratorio2/Ejemplo1 - ListasDoblementeEnlazadas/dist/*
Laboratorio2/Ejemplo1 - ListasDoblementeEnlazadas/nbproject/*
Laboratorio2/Ejemplo1 - ListasDoblementeEnlazadas/.dep.inc
Laboratorio2/Ejemplo1 - ListasDoblementeEnlazadas/Makefile
Laboratorio2/Ejemplo1 - ListasDoblementeEnlazadas/*.exe.*

Laboratorio2/ListasSimples/build/*
Laboratorio2/ListasSimples/dist/*
Laboratorio2/ListasSimples/nbproject/*
Laboratorio2/ListasSimples/.dep.inc
Laboratorio2/ListasSimples/Makefile
Laboratorio2/ListasSimples/*.exe.*

Laboratorio2/Tarea - CompararPilas/build/*
Laboratorio2/Tarea - CompararPilas/dist/*
Laboratorio2/Tarea - CompararPilas/nbproject/*
Laboratorio2/Tarea - CompararPilas/.dep.inc
Laboratorio2/Tarea - CompararPilas/Makefile
Laboratorio2/Tarea - CompararPilas/*.exe.*

#Laboratorio4

Laboratorio4/Tarea - Missing_Number/build/*
Laboratorio4/Tarea - Missing_Number/dist/*
Laboratorio4/Tarea - Missing_Number/nbproject/*
Laboratorio4/Tarea - Missing_Number/.dep.inc
Laboratorio4/Tarea - Missing_Number/Makefile
Laboratorio4/Tarea - Missing_Number/*.exe.*

#Laboratorio5

Laboratorio5/Tarea - OrderBST/build/*
Laboratorio5/Tarea - OrderBST/dist/*
Laboratorio5/Tarea - OrderBST/nbproject/*
Laboratorio5/Tarea - OrderBST/.dep.inc
Laboratorio5/Tarea - OrderBST/Makefile
Laboratorio5/Tarea - OrderBST/*.exe.*


#Laboratorio6

Laboratorio6/Assambly/build/*
Laboratorio6/Assambly/dist/*
Laboratorio6/Assambly/nbproject/*
Laboratorio6/Assambly/.dep.inc
Laboratorio6/Assambly/Makefile
Laboratorio6/Assambly/*.exe.*

#Laboratorio7

Laboratorio7/Rod-Cutting/build/*
Laboratorio7/Rod-Cutting/dist/*
Laboratorio7/Rod-Cutting/nbproject/*
Laboratorio7/Rod-Cutting/.dep.inc
Laboratorio7/Rod-Cutting/Makefile
Laboratorio7/Rod-Cutting/*.exe.*

#Laboratorio8

Laboratorio8/ActivitySelection/build/*
Laboratorio8/ActivitySelection/dist/*
Laboratorio8/ActivitySelection/nbproject/*
Laboratorio8/ActivitySelection/.dep.inc
Laboratorio8/ActivitySelection/Makefile
Laboratorio8/ActivitySelection/*.exe.*