#Dont track

#Fibonacci

Laboratorio1/FibonacciPosposicion/build/*
Laboratorio1/FibonacciPosposicion/dist/*
Laboratorio1/FibonacciPosposicion/nbproject/*
Laboratorio1/FibonacciPosposicion/.dep.inc
Laboratorio1/FibonacciPosposicion/Makefile

Laboratorio1/FibonacciPorCola/build/*
Laboratorio1/FibonacciPorCola/dist/*
Laboratorio1/FibonacciPorCola/nbproject/*
Laboratorio1/FibonacciPorCola/.dep.inc
Laboratorio1/FibonacciPorCola/Makefile

#Array

Laboratorio1/SumaArrayPorCola/build/*
Laboratorio1/SumaArrayPorCola/dist/*
Laboratorio1/SumaArrayPorCola/nbproject/*
Laboratorio1/SumaArrayPorCola/.dep.inc
Laboratorio1/SumaArrayPorCola/Makefile

Laboratorio1/SumaArrayPosposicion/build/*
Laboratorio1/SumaArrayPosposicion/dist/*
Laboratorio1/SumaArrayPosposicion/nbproject/*
Laboratorio1/SumaArrayPosposicion/.dep.inc
Laboratorio1/SumaArrayPosposicion/Makefile

#Potencias

Laboratorio1/Ejercicio1/build/*
Laboratorio1/Ejercicio1/dist/*
Laboratorio1/Ejercicio1/nbproject/*
Laboratorio1/Ejercicio1/.dep.inc
Laboratorio1/Ejercicio1/Makefile



