#Dont track

#Fibonacci

Laboratorio1/Ejemplo2 - FibonacciPosposicion/build/*
Laboratorio1/Ejemplo2 - FibonacciPosposicion/dist/*
Laboratorio1/Ejemplo2 - FibonacciPosposicion/nbproject/*
Laboratorio1/Ejemplo2 - FibonacciPosposicion/.dep.inc
Laboratorio1/Ejemplo2 - FibonacciPosposicion/Makefile

Laboratorio1/Ejemplo2 - FibonacciPorCola/build/*
Laboratorio1/Ejemplo2 - FibonacciPorCola/dist/*
Laboratorio1/Ejemplo2 - FibonacciPorCola/nbproject/*
Laboratorio1/Ejemplo2 - FibonacciPorCola/.dep.inc
Laboratorio1/Ejemplo2 - FibonacciPorCola/Makefile

#Array

Laboratorio1/Ejemplo3 - SumaArrayPorCola/build/*
Laboratorio1/Ejemplo3 - SumaArrayPorCola/dist/*
Laboratorio1/Ejemplo3 - SumaArrayPorCola/nbproject/*
Laboratorio1/Ejemplo3 - SumaArrayPorCola/.dep.inc
Laboratorio1/Ejemplo3 - SumaArrayPorCola/Makefile

Laboratorio1/Ejemplo3 - SumaArrayPosposicion/build/*
Laboratorio1/Ejemplo3 - SumaArrayPosposicion/dist/*
Laboratorio1/Ejemplo3 - SumaArrayPosposicion/nbproject/*
Laboratorio1/Ejemplo3 - SumaArrayPosposicion/.dep.inc
Laboratorio1/Ejemplo3 - SumaArrayPosposicion/Makefile

#Potencias

Laboratorio1/Ejercicio2/build/*
Laboratorio1/Ejercicio2/dist/*
Laboratorio1/Ejercicio2/nbproject/*
Laboratorio1/Ejercicio2/.dep.inc
Laboratorio1/Ejercicio2/Makefile



